{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gray-100 flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-7xl w-full text-center space-y-8">
            <h1 class="text-4xl font-extrabold text-gray-900">
                Bienvenue sur le site Forum Planner 🤖
            </h1>
            <p class="text-lg text-gray-600">
                Vous retrouverez toutes les infos sur les forums de votre région.
            </p>
            <div class="flex justify-center space-x-4">
                <a href="{{ path('app_login') }}"
                   class="py-2 px-4 bg-indigo-600 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Connexion
                </a>
                <a href="{{ path('app_register') }}"
                   class="py-2 px-4 bg-gray-200 text-gray-900 font-semibold rounded-lg shadow-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Inscription
                </a>
                <a href="{{ path('app_profile') }}">
                    <button class="py-2 px-4 bg-gray-200 text-gray-900 font-semibold rounded-lg shadow-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Mon Profil
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}