<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block stylesheets %}

    {% endblock %}
</head>
<body class="bg-gray-100">

<!-- Navigation Bar -->
<nav class="bg-gray-800">
    <div class="container mx-auto flex justify-between items-center p-4">
        <a class="text-white text-lg font-bold" href="{{ path('homepage') }}">Forum Planner</a>
        <div class="relative">
            <button class="text-white focus:outline-none md:hidden">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
        <div class="hidden md:flex space-x-4">
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="text-white hover:bg-gray-700 px-3 py-2 rounded" href="{{ path('app_login') }}">Login</a>
                <a class="text-white hover:bg-gray-700 px-3 py-2 rounded" href="{{ path('app_register') }}">Register</a>
            {% else %}
                <a class="text-white hover:bg-gray-700 px-3 py-2 rounded" href="{{ path('app_profile') }}">Profil</a>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Main Content -->
<div class="container mx-auto mt-5">
    {% block body %}{% endblock %}
</div>

<!-- Footer -->
<footer class="bg-gray-800 text-white mt-5 p-4 text-center">
    <p>&copy; 2024 My Website. All Rights Reserved.</p>
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>
